/* city picker css */

.cityPicker
{
    position: relative;
    z-index: 13;
}

.cityPicker .cpPopup
{
    display: none;
    position: absolute;
    right: 0;
    top: 39px;
    padding: 0 0 0 0;
    margin: 0;
    cursor: default;
    width: 812px;
}

.cityPicker .cpPopup .topHolder
{
    height: 0;
    display:none;
    background: url("citypickeTopBg.png") repeat-x scroll 0 0 transparent;
    background: none;
}

.cityPicker .cpPopup .popupContent
{
    background-color: #000;
    color: #fff;
    font-size: 14px;
    width: 812px;
    margin: 0;
    padding: 0;
}

.cityPicker .cpPopup .closePopupCity
{
    display: block;
    height: 58px;
}

.cityPicker .cpPopup .closePopupCity a
{
    background: url("dd_close.jpg") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 30px;
    width: 30px;
    display: block;
    float:right;
    margin-top: 10px;
    margin-right: 0;
    padding-right: 15px;
    text-decoration: none;
    outline: none;
}

.cityPicker .popupContent .cities
{
    padding: 0 60px 50px;
    font-weight: normal;
}

.cityPicker .popupContent #intro
{
    color: #a2988b;
    font-size: 18px;
    line-height: 20px;
}

.cityPicker .popupContent #mainCity
{
    height: 55px;
    border-top: 1px solid #a2988b;
    border-bottom: 1px solid #a2988b;
    text-align: center;
    display: block;
    margin-top: 19px;
}

.cityPicker .popupContent #mainCity a
{
    font-size: 18px;
    line-height: 55px;
    cursor: pointer;
    margin: 0 16px;
}

.cityPicker .popupContent #cpCityList
{
    width: 692px;
    margin-top: 20px;
}

.cityPicker .popupContent #cpCityList:after
{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.cityPicker .popupContent #cpCityList .cpCol0,
.cityPicker .popupContent #cpCityList .cpCol1
{ 
    float: left;
}

.cityPicker .popupContent #cpCityList .cpCol0
{
    width: 360px;
}

.cityPicker .popupContent #cpCityList .cpCol1
{
    width: 306px;
    margin-left: 25px;
}

.cityPicker .popupContent #cpCityList .cpRow
{
    line-height: 33px;
    float:left;
    display:block;
}

.cityPicker .popupContent #cpCityList .cpRow span
{
    width: 31px;
    display: block;
    float: left;
    font-family: 'Helvetica Neue LT Pro', Arial;
    font-size: 18px;
    line-height: 32px;
    color: #a2988b;
    font-weight: bold;
}

.cityPicker .popupContent #cpCityList .cpRow div
{
    display: block;
    float: left;
}

.cityPicker .popupContent #cpCityList .cpCol0 .cpRow div
{
    width: 329px;
}

.cityPicker .popupContent #cpCityList .cpCol1 .cpRow div
{
    width: 275px;
}

.cityPicker .popupContent #cpCityList .cpRow div a
{
    margin-right: 14px;
    cursor: pointer;
    display: inline-block;
}

.cityPicker .popupContent #cpCityList .cpRow div a.last
{
    margin-right: 0;
}

.cityPicker .popupContent #cpCityList .cpRow #otherCityLink a
{
    line-height:20px;
    padding-top: 6px;
}
