

/* leads form */
.formContainer .listContainer .boxWrap
{
    height: 30px;
    background: url("/_imgs/englishfirst/GUD/Common/leadsform/leadform_dropdown.png") no-repeat scroll 100% 0 transparent;
}

.formContainer .inputWrapper .schoolListWrapper .inputContent
{
    margin-left: 0;
    padding-left: 8px;
}

.formContainer .schoolListWrapper .listContainer
{
    background: url("/_imgs/englishfirst/GUD/Common/leadsform/leadsform_dropdown_ie6.jpg") no-repeat scroll 100% 0 transparent;
}

.longForm .formBottom .formPrivacy
{
    background: url("/_imgs/englishfirst/GUD/Common/leadsform/lock.jpg") no-repeat scroll -2px -1px transparent;
}

.bigPopup .closeBtn
{
    background: url("/_imgs/englishfirst/gud/JqueryUI/dialog_box_close_btn.jpg") repeat scroll 0 0 transparent;
}

.popupContent_ru .longForm .formContainer .formBottom .formBtnText,
.popupContent_id .longForm .formContainer .formBottom .formBtnText,
.body_ru .longForm .formContainer .formBottom .formBtnText,
.body_in .longForm .formContainer .formBottom .formBtnText
{
    overflow: hidden;
    float: right;
    display: block;
}

.popupContent_ru .longForm .formContainer .formBottom .formBtn,
.popupContent_id .longForm .formContainer .formBottom .formBtn
{
    width: 132px;
}


/* global offices ie6 fix */
.globalOffices .breadCrumb
{
    padding-top: 21px;
}

.globalOffices .headline
{
    margin-top: 76px;
}

.body_cs .globalOffices .headline
{
    margin-top: 70px;
}

.body_cs .globalOffices div h3.subHead
{
    padding-bottom: 32px;
}

/* aboutEF ie6 css */
div.aboutEF
{
    padding-top: 76px;
}

.row .aboutEF .descript h2.title
{
    padding-bottom:0;
}


.aboutEF .cirle dl
{
    margin: 0;
    padding: 0 28px;
}


.familyCompanies h3.subHead .helvetica_cs,
.historyEF h3.subHead .helvetica_cs
{
    margin-bottom: 4px;
}



.historyEF .history .arrow
{
    bottom: -15px;
}

.eventsList .bx-wrapper
{
    width: 790px;
}

.aboutEFPopup .popupContent div.leftPart
{
    margin-left: 0;
    padding-left: 50px;
}

.aboutEFPopup .popupContent div.rightPart
{
    margin-left: 0;
    padding-left: 25px;
}

.aboutEFPopup .customScrollbar .scrollbar
{
    height: 284px;
}

.aboutEF .descript h2.title
{
    display:block;
    padding-bottom: 9px;
}

/* jquery dialog background cover override start */
.ui-widget-overlay
{
  position: absolute;
  top: 0;
  left: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  opacity: 0.6;
  width: 100%;
  height: 100%;
}
/* jquery dialog background cover override end */

/* bxslider override start */
div .bx-wrapper .bx-loading
{
  background: url(/_imgs/englishfirst/gud/common/header/bx_loader.gif) center center no-repeat;
}

/* bxslider override end */

/* leads form ie6 */
.tipIcon,
div .tipIconIE6
{
    background: url("/_imgs/englishfirst/gud/common/leadsform/hovericon.jpg") repeat scroll 0 0 transparent;
}

div .formContainer .inputArea .correct .validationIconCorrect
{
    background: url("/_imgs/englishfirst/gud/common/leadsform/correct.jpg") repeat scroll 0 0 transparent;
}

.formContainer .inputArea .inputTag
{
    line-height: 16px;
    z-index: 50;
}


/* videojs override start */
body .vjs-paused .vjs-play-control div
{
    background: url("/_imgs/englishfirst/gud/common/video/videoplay.jpg") repeat scroll 0 0 transparent;
}

body .vjs-playing .vjs-play-control div
{
    background: url("/_imgs/englishfirst/gud/common/video/videopause.jpg") repeat scroll 0 0 transparent;
}

body .vjs-default-skin .vjs-mute-control div
{
    background: url("/_imgs/englishfirst/gud/common/video/videovolume.jpg") repeat scroll 0 0 transparent;
}

body .vjs-default-skin .vjs-vol-0 div
{
    background: url("/_imgs/englishfirst/gud/common/video/videomute.jpg") repeat scroll 0 0 transparent;
}

body .vjs-default-skin .vjs-vol-1 div
{
    background: url("/_imgs/englishfirst/gud/common/video/videovolume1.jpg") repeat scroll 0 0 transparent;
}

body .vjs-default-skin .vjs-vol-2 div
{
    background: url("/_imgs/englishfirst/gud/common/video/videovolume2.jpg") repeat scroll 0 0 transparent;
}

.vjs-default-skin .vjs-fullscreen-control
{
  display: none;
}

.vjs-default-skin .vjs-volume-control
{
  padding-right: 20px;
}

/* videojs override end */

/* teacher page */
.slides .bx-wrapper .bx-next,
.slides .bx-wrapper .bx-next:hover
{
    background: url("/_imgs/englishfirst/gud/common/header/arrow_right.gif") no-repeat scroll 0 0 transparent;
}

.slides .bx-wrapper .bx-prev,
.slides .bx-wrapper .bx-prev:hover
{
    background: url("/_imgs/englishfirst/gud/common/header/arrow_left.gif") no-repeat scroll 0 0 transparent;
}
/* teacher page */

/* pp h3 span lng length */
h3.helvetica_in span,
h3.helvetica_ru span
{ 
    letter-spacing: -3px;
    padding-right: 0;
}
#content .descript h3 
{
    _padding-bottom: 5px;
}


.body_en #content h1.title, 
.body_en #content h2.title, 
.body_en #content h3.title,
.body_ru #content h1.title, 
.body_ru #content h2.title, 
.body_ru #content h3.title,
.body_in #content h1.title, 
.body_in #content h2.title, 
.body_in #content h3.title
{ 
    padding: 0 0 73px;
}


#content h1.helvetica_en span,
#content h2.helvetica_en span,
#content h3.helvetica_en span,
#content h1.helvetica_ru span,
#content h2.helvetica_ru span,
#content h3.helvetica_ru span,
#content h1.helvetica_in span,
#content h2.helvetica_in span,
#content h3.helvetica_in span
{
    line-height: 39px;
    padding-top: 34px;
}

.body_cs #content  h1.title, 
.body_cs #content h2.title, 
.body_cs #content h3.title
{
    padding-top: 0;
    padding-bottom: 73px;
}

#content h1.helvetica_cs span,
#content h2.helvetica_cs span,
#content h3.helvetica_cs span
{ 
    line-height: 47px;
    padding-top: 26px;
}


.stuTeaVideo h3.subHead
{
    padding-bottom: 68px;
}

div h3.subHead
{
    padding: 0 0 68px;
}

.body_cs h3.subHead
{
    padding-top: 6px;
    padding-bottom: 69px;
}


h3.subHead .helvetica_en,
h3.subHead .helvetica_ru,
h3.subHead .helvetica_in
{
    line-height: 39px;
    padding-top: 35px;
}

h3.subHead .helvetica_cs
{ 
    line-height: 47px;
    padding-top: 26px;
}




div.headlineBlack .h3
{
    padding-top: 0;
}

.body_cs div.headlineBlack .h3
{
    padding-top: 6px;
}

div.headlineBlack .h3 span
{
    padding-top: 34px;
}

div.headlineBlack .h3 .helvetica_cs
{
    padding-top: 26px;
}

div.row .headlineBlack
{
    padding-bottom: 110px;
    padding-top: 39px;
}

.body_cs div.row .headlineBlack
{
    padding-bottom: 104px;
}

.onlineNewsList
{
    width: 960px;
}

/* ss large bg line */
#content .yellowBg .largeBg h3 {
    padding-bottom: 0;
}

/* footer ie6 */
#e1Footer .footerLinkList
{
    _padding-bottom: 0;
}