.rotator li .schoolRotator .leadCon
{
    position: static;
}

.rotator li .schoolRotator .leadCon div.lead
{
    position: relative;
    top: 191px;
    left:0;
    margin: 0;
}

.rotator li .schoolRotator .leadCon .schoolsAndForm
{
    width: 331px;
}

.rotator li .schoolRotator .leadCon div.longSchoolsAndForm
{
    width: 674px;
}