/* for small star student page css */
div.bigHeadBg_ss_cn
{
    background: url("/_imgs/englishfirst/gud/courses/ss/cn/students/our_student_ss_01.jpg") no-repeat scroll center top transparent;
}

div.bigHeadBg_ss_ru
{
    background: url("/_imgs/englishfirst/gud/courses/ss/ru/students/our_student_ss_01.jpg") no-repeat scroll center top transparent;
}

div.bigHeadBg_ss_id
{
    background: url("/_imgs/englishfirst/gud/courses/ss/id/students/our_student_ss_01.jpg") no-repeat scroll center top transparent;
}

div .shortRotator .bigHeadBg_ss_cn
{
    background: url("our_student_02.jpg") no-repeat scroll center top transparent;
}

div .shortRotator .bigHeadBg_ss_ru
{
    background: url("/_imgs/englishfirst/gud/short/courses/ss/ru/students/our_student_02.jpg") no-repeat scroll center top transparent;
}

div .shortRotator .bigHeadBg_ss_id
{
    background: url("/_imgs/englishfirst/gud/short/courses/ss/id/students/our_student_02.jpg") no-repeat scroll center top transparent;
}

div .shortRotator .bigHeadBg_ss_cn2
{
    background: url("our_student_01.jpg") no-repeat scroll center top transparent;
}

div .shortRotator .bigHeadBg_ss_ru2
{
    background: url("/_imgs/englishfirst/gud/short/courses/ss/ru/students/our_student_01.jpg") no-repeat scroll center top transparent;
}

div .shortRotator .bigHeadBg_ss_id2
{
    background: url("/_imgs/englishfirst/gud/short/courses/ss/id/students/our_student_01.jpg") no-repeat scroll center top transparent;
}

div.bigHeadBg_hf_cn
{
    background: url("/_imgs/englishfirst/gud/courses/hf/cn/students/our_student_hf_01.jpg") no-repeat scroll center top transparent;
}

div.bigHeadBg_hf_ru
{
    background: url("/_imgs/englishfirst/gud/courses/hf/ru/students/our_student_hf_01.jpg") no-repeat scroll center top transparent;
}

div.bigHeadBg_hf_id
{
    background: url("/_imgs/englishfirst/gud/courses/hf/id/students/our_student_hf_01.jpg") no-repeat scroll center top transparent;
}

div .shortRotator .bigHeadBg_hf_cn
{
    background: url("/_imgs/englishfirst/gud/short/courses/hf/cn/students/our_student_02.jpg") no-repeat scroll center top transparent;
}

div .shortRotator .bigHeadBg_hf_ru
{
    background: url("/_imgs/englishfirst/gud/short/courses/hf/ru/students/our_student_02.jpg") no-repeat scroll center top transparent;
}

div .shortRotator .bigHeadBg_hf_id
{
    background: url("/_imgs/englishfirst/gud/short/courses/hf/id/students/our_student_02.jpg") no-repeat scroll center top transparent;
}

div .shortRotator .bigHeadBg_hf_cn2
{
    background: url("/_imgs/englishfirst/gud/short/courses/hf/cn/students/our_student_01.jpg") no-repeat scroll center top transparent;
}

div .shortRotator .bigHeadBg_hf_ru2
{
    background: url("/_imgs/englishfirst/gud/short/courses/hf/ru/students/our_student_01.jpg") no-repeat scroll center top transparent;
}

div .shortRotator .bigHeadBg_hf_id2
{
    background: url("/_imgs/englishfirst/gud/short/courses/hf/id/students/our_student_01.jpg") no-repeat scroll center top transparent;
}


div.bigHeadBg_tb_cn
{
    background: url("/_imgs/englishfirst/gud/courses/tb/cn/students/our_student_tb_01.jpg") no-repeat scroll center top transparent;
}

div.bigHeadBg_tb_ru
{
    background: url("/_imgs/englishfirst/gud/courses/tb/ru/students/our_student_tb_01.jpg") no-repeat scroll center top transparent;
}

div.bigHeadBg_tb_id
{
    background: url("/_imgs/englishfirst/gud/courses/tb/id/students/our_student_tb_01.jpg") no-repeat scroll center top transparent;
}

div .shortRotator .bigHeadBg_tb_cn
{
    background: url("/_imgs/englishfirst/gud/short/courses/tb/cn/students/our_student_02.jpg") no-repeat scroll center top transparent;
}

div .shortRotator .bigHeadBg_tb_ru
{
    background: url("/_imgs/englishfirst/gud/short/courses/tb/ru/students/our_student_02.jpg") no-repeat scroll center top transparent;
}

div .shortRotator .bigHeadBg_tb_id
{
    background: url("/_imgs/englishfirst/gud/short/courses/tb/id/students/our_student_02.jpg") no-repeat scroll center top transparent;
}

div .shortRotator .bigHeadBg_tb_cn2
{
    background: url("/_imgs/englishfirst/gud/short/courses/tb/cn/students/our_student_01.jpg") no-repeat scroll center top transparent;
}

div .shortRotator .bigHeadBg_tb_ru2
{
    background: url("/_imgs/englishfirst/gud/short/courses/tb/ru/students/our_student_01.jpg") no-repeat scroll center top transparent;
}

div .shortRotator .bigHeadBg_tb_id2
{
    background: url("/_imgs/englishfirst/gud/short/courses/tb/id/students/our_student_01.jpg") no-repeat scroll center top transparent;
}

div.bigHeadBg_fr_cn
{
    background: url("/_imgs/englishfirst/gud/courses/fr/cn/students/our_student_fr_01.jpg") no-repeat scroll center top transparent;
}

div.bigHeadBg_fr_ru
{
    background: url("/_imgs/englishfirst/gud/courses/fr/ru/students/our_student_fr_01.jpg") no-repeat scroll center top transparent;
}

div.bigHeadBg_fr_id
{
    background: url("/_imgs/englishfirst/gud/courses/fr/id/students/our_student_fr_01.jpg") no-repeat scroll center top transparent;
}

div .shortRotator .bigHeadBg_fr_cn
{
    background: url("/_imgs/englishfirst/gud/short/courses/fr/cn/students/our_student_02.jpg") no-repeat scroll center top transparent;
}

div .shortRotator .bigHeadBg_fr_ru
{
    background: url("/_imgs/englishfirst/gud/short/courses/fr/ru/students/our_student_02.jpg") no-repeat scroll center top transparent;
}

div .shortRotator .bigHeadBg_fr_id
{
    background: url("/_imgs/englishfirst/gud/short/courses/fr/id/students/our_student_02.jpg") no-repeat scroll center top transparent;
}

div .shortRotator .bigHeadBg_fr_cn2
{
    background: url("/_imgs/englishfirst/gud/short/courses/fr/cn/students/our_student_01.jpg") no-repeat scroll center top transparent;
}

div .shortRotator .bigHeadBg_fr_ru2
{
    background: url("/_imgs/englishfirst/gud/short/courses/fr/ru/students/our_student_01.jpg") no-repeat scroll center top transparent;
}

div .shortRotator .bigHeadBg_fr_id2
{
    background: url("/_imgs/englishfirst/gud/short/courses/fr/id/students/our_student_01.jpg") no-repeat scroll center top transparent;
}




div.bigHeadBg_re_cn
{
    background: url("/_imgs/englishfirst/gud/courses/re/cn/students/our_student_re_01.jpg") no-repeat scroll center top transparent;
}

div.bigHeadBg_re_ru
{
    background: url("/_imgs/englishfirst/gud/courses/re/ru/students/our_student_re_01.jpg") no-repeat scroll center top transparent;
}

div.bigHeadBg_re_id
{
    background: url("/_imgs/englishfirst/gud/courses/re/id/students/our_student_re_01.jpg") no-repeat scroll center top transparent;
}

h3.subHead
{
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 0 0 74px;
    line-height: 40px;
}

.subHead .title
{
  display: inline-block;
  padding: 0 20px;
  height: 68px;
  line-height: 106px;
}

.subHead .black
{
  background-image: url("/_imgs/englishfirst/gud/courses/ss/cn/pd/ss_sprite.png");
  background-repeat: no-repeat;
  background-position: -20px -7px;
  color: #000;

}

.subHead .white
{
  background-image: url("/_imgs/englishfirst/gud/courses/ss/cn/pd/ss_sprite.png");
  background-repeat: no-repeat;
  background-position: 120px -118px;
  color: #fff;
}

.bigVideo .videoWrap .leftBox
{
  background-color: #f1eae1;
  min-height: 217px;
  padding-bottom: 0;
  padding: 100px 40px 0;
  height: 268px;
}

.bigVideo .videoWrap p.title
{
  font-size: 18px;
}

.bigVideo .videoWrap p.line
{
  margin: 20px 0;
}

.bigVideo .videoWrap p.txt
{
  font-family: Georgia, Arial, serif;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  line-height: 22px;
}

.body_cs .bigVideo .videoWrap p.txt
{
    font-family: "Microsoft Yahei", 微软雅黑, Arial, STHeiti, SimHei;
}

.studentParent .descript h4
{
  font-size: 18px;
  padding-bottom: 46px;
}

.studentParent .descript h2.title
{
    padding-bottom: 39px;
}

.studentParent .cirle dl
{
  background-color: #f1eae1;
  width: 264px;
  margin-right: 70px;
}

.studentParent .cirle dl.lst
{
  margin-right: 0;
}

.studentParent .column dl dd.title
{
  font-size: 18px;
}

.studentParent .column dl dd.subTitle
{
  font-family: Georgia, Arial, serif;
  font-size: 12px;
  font-style: italic;
  text-align: center;
  padding-top: 5px;
  line-height: 18px;
}

.body_cs .studentParent .descript h4,
.body_cs .studentParent .column dl dd.subTitle
{
    font-family: "Microsoft Yahei", 微软雅黑, Arial, STHeiti, SimHei;
}

.studentParent .column dl dd.txt
{
  color: #000;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  line-height: 20px;
}

.studentParent .column dl
{
  padding-bottom: 0;
}

.studentParent .cirle dl dd.line
{
  margin-top: 23px;
  margin-bottom: 19px;
}

.studentParent .column dl dt
{
  margin-bottom: 45px;
}

/* carousel video slides css start */
.slides
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.slides .prev,
.slides .next
{
    height: 70px;
    width: 40px;
    position: absolute;
    top: 34px;
}

.slides .prev
{
    left: -1px;
}

.slides .next
{
    right: 0;
}

.slides .view
{
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 46px;
    border-bottom: 1px solid #9C9B87;
}

.slides .view ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    width:10000px;
}

.slides .view ul li
{
    float: left;
    width: 225px;
    margin-right: 20px;
}

.slides .view ul li.first
{
    margin-left: 122px;
}

.slides .view ul li .item
{
  text-align: center;
}

.slides .view ul li .item .name
{
  font-size: 18px;
  font-weight: bold;
  padding-top: 18px;
  line-height: 18px;
}

.slides .view ul li .item .des
{
  font-family: Georgia, Arial, serif;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  padding-top: 5px;
  line-height: 18px;
}

.body_cs .slides .view ul li .item .des
{
    font-family: "Microsoft Yahei", 微软雅黑, Arial, STHeiti, SimHei;
}

.slides .view ul li .item img
{
  cursor: pointer;
}

.slides .tagsCon
{
  padding:0 0 80px;
  position: relative;
  text-align: center;
}

.slides ul.tags
{
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slides ul.tags li
{
  display: inline;
  margin-right: 3px;
}

.slides ul.tags li span
{
  background: url(/_imgs/englishfirst/gud/common/header/light_bullet.png) no-repeat scroll 1px 0 transparent;
  display: inline-block;
  cursor: pointer;
  height: 13px;
  width: 13px;
}

.slides ul.tags li.current span
{
  background: url(/_imgs/englishfirst/gud/common/header/dark_bullet.png) no-repeat scroll 0 0 transparent;
}

/* carousel video slides css end */

.bigVideo .title .helvetica_cs,
.studentParent .title .helvetica_cs
{
    line-height: 95px;
}

.bigVideo .section
{
    padding-top: 80px;
    padding-bottom: 79px;
}

.bigVideo .section h1
{
    padding-bottom: 75px;
}

.studentParent
{
    padding-bottom: 78px;
}



/* vertical and horizontal center align start */
.verticalCenterAlign{overflow: hidden; position: relative;}
.verticalCenterAlign[class]{display: table; position: static; *position: relative;} 
.verticalCenterAlign .verticalAlignContent{position: absolute; top: 50%; left:0}
/* for explorer only*/
.verticalCenterAlign .verticalAlignContent[class]{display: table-cell; vertical-align: middle; position: static; *position: absolute;} 
.verticalCenterAlign .verticalAlignContent .verticalAlignText{position: relative; top: -50%;margin: 0 auto;} 

/* vertical and horizontal center align end */

div.bigVideo .videoWrap .leftBox,
div.bigVideo .videoWrap .leftBox .verticalCenterAlign
{
    height: 368px;
    padding-top: 0;
}

.videoWrap .leftBox .verticalAlignText
{
    width: 230px;
}



.body_en h1.title, 
.body_en h2.title, 
.body_en h3.title,
.body_ru h1.title, 
.body_ru h2.title, 
.body_ru h3.title,
.body_in h1.title, 
.body_in h2.title, 
.body_in h3.title
{ 
    padding: 33px 0 75px;
}


.body_en h1.title span.title,
.body_en h2.title span.title,
.body_en h3.title span.title,
.body_ru h1.title span.title,
.body_ru h2.title span.title,
.body_ru h3.title span.title,
.body_in h1.title span.title,
.body_in h2.title span.title,
.body_in h3.title span.title
{
    line-height: 39px;
    padding-top: 29px;
    height: auto;
    display: inline;    
}

.body_cs h1.title, 
.body_cs h2.title, 
.body_cs h3.title
{
    padding-top: 24px;
    padding-bottom: 73px;
}

.body_cs h1.title span.title,
.body_cs h2.title span.title,
.body_cs h3.title span.title
{ 
    line-height: 47px;
    padding-top: 23px;
    height: auto;
    display: inline;
}

/* video black frame */
.studentBigVideo .videoWrap .rightBox
{
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 368px;
    width: 650px;
}

.studentBigVideo .videoWrap .rightBox .video-js
{
    top: -2px;
    left: -2px;
}

.shortRotator .rotator2 .bigHeadBg_fr_id2 .intro,
.shortRotator .rotator2 .bigHeadBg_tb_id2 .intro,
.shortRotator .rotator2 .bigHeadBg_hf_id2 .intro,
.shortRotator .rotator2 .bigHeadBg_ss_id2 .intro,
.shortRotator .rotator2 .bigHeadBg_fr_ru2 .intro,
.shortRotator .rotator2 .bigHeadBg_tb_ru2 .intro,
.shortRotator .rotator2 .bigHeadBg_hf_ru2 .intro,
.shortRotator .rotator2 .bigHeadBg_ss_ru2 .intro
{
    padding-top: 50px;
}