.bigVideo .videoWrap
{
    background-color: #F1EAE1;
}

/* students page */
.bigVideo .section
{
    padding-top: 80px;
}

.bigVideo .section h1
{
    padding-bottom: 40px;
}

.slides .view ul li.first
{
    margin-left: 0;
    padding-left: 122px;
}

.row .studentParent
{
    padding-top: 81px;
}

#content .studentParent .descript h2.title
{
    padding-bottom: 40px;
}

.body_en h1.title, 
.body_en h2.title, 
.body_en h3.title,
.body_ru h1.title, 
.body_ru h2.title, 
.body_ru h3.title,
.body_in h1.title, 
.body_in h2.title, 
.body_in h3.title
{ 
    padding: 0 0 73px;
}


.body_en h1.title span.title,
.body_en h2.title span.title,
.body_en h3.title span.title,
.body_ru h1.title span.title,
.body_ru h2.title span.title,
.body_ru h3.title span.title,
.body_in h1.title span.title,
.body_in h2.title span.title,
.body_in h3.title span.title
{
    line-height: 39px;
    padding-top: 34px;
}

.body_cs h1.title, 
.body_cs h2.title, 
.body_cs h3.title
{
    padding-top: 0;
    padding-bottom: 73px;
}

.body_cs h1.title span.title,
.body_cs h2.title span.title,
.body_cs h3.title span.title
{ 
    line-height: 47px;
    padding-top: 26px;
}