

/* global offices ie fix */
.body_en .globalOffices div h3.subHead,
.body_ru .globalOffices div h3.subHead,
.body_in .globalOffices div h3.subHead
{
    padding-bottom: 32px;
}

/* students page */


/* whyef page */
.englishSchool .subHead .helvetica_cs,
.stuTeaVideo .subHead .helvetica_cs,
.awards .subHead .helvetica_cs
{
    margin-top: 6px;
    padding-bottom: 0;
}

.awards .subHead .helvetica_cs
{
    padding-bottom:6px;
}

.globalOffices .subHead .helvetica_cs
{
    margin-top: 6px;
    padding-bottom: 0;
}

div.schoolInfo .subHead
{
    padding-bottom: 68px;
}

.schoolInfo .subHead .helvetica_cs
{
    margin-top: 6px;
    padding-bottom: 0;
}

/* tv coverage page */
.tvCoverage .tagsCon
{
    display: inline-block;
    border-top: 1px solid #A19789;
    padding: 25px 0 79px;
}

.tvCoverage .videoContainer
{
    border-bottom: none;
}

/* online news page */
.pagination .list a,
.pagination .list span
{
    width: 28px;
    padding-left: 2px;
}

.pagination .list .prev
{
    padding-right: 0;
    width: 28px;
}

.pagination .list .next
{
    padding-right: 0;
    width: 30px;
}

/* adults/getready/methods */
.getreadyMethods .mbeMethods .itemsList .item .text
{
    width: 320px;
}

.body_en h1.title, 
.body_en h2.title, 
.body_en h3.title,
.body_ru h1.title, 
.body_ru h2.title, 
.body_ru h3.title,
.body_in h1.title, 
.body_in h2.title, 
.body_in h3.title
{ 
    padding: 0 0 73px;
}


h1.helvetica_en span,
h2.helvetica_en span,
h3.helvetica_en span,
h1.helvetica_ru span,
h2.helvetica_ru span,
h3.helvetica_ru span,
h1.helvetica_in span,
h2.helvetica_in span,
h3.helvetica_in span
{
    line-height: 39px;
    padding-top: 35px;
}

.body_cs h1.title, 
.body_cs h2.title, 
.body_cs h3.title
{
    padding-top: 0;
    padding-bottom: 76px;
}

h1.helvetica_cs span,
h2.helvetica_cs span,
h3.helvetica_cs span
{ 
    line-height: 47px;
    padding-top: 24px;
}



.body_en h1.title, 
.body_en h2.title, 
.body_en h3.title,
.body_ru h1.title, 
.body_ru h2.title, 
.body_ru h3.title,
.body_in h1.title, 
.body_in h2.title, 
.body_in h3.title
{ 
    padding: 0 0 73px;
}


.body_en h1.title span.title,
.body_en h2.title span.title,
.body_en h3.title span.title,
.body_ru h1.title span.title,
.body_ru h2.title span.title,
.body_ru h3.title span.title,
.body_in h1.title span.title,
.body_in h2.title span.title,
.body_in h3.title span.title
{
    line-height: 39px;
    padding-top: 35px;
}

.body_cs h1.title, 
.body_cs h2.title, 
.body_cs h3.title
{
    padding-top: 0;
    padding-bottom: 76px;
}

.body_cs h1.title span.title,
.body_cs h2.title span.title,
.body_cs h3.title span.title
{ 
    line-height: 47px;
    padding-top: 24px;
}

.stuTeaVideo h3.subHead
{
    padding-bottom: 68px;
}

div h3.subHead
{
    padding: 0 0 68px;
}

.body_cs h3.subHead
{
    padding-top: 0;
    padding-bottom: 73px;
    margin-top: -6px;
}


h3.subHead .helvetica_en,
h3.subHead .helvetica_ru,
h3.subHead .helvetica_in
{
    line-height: 39px;
    padding-top: 35px;
}

h3.subHead .helvetica_cs
{ 
    line-height: 47px;
    padding-top: 24px;
}




div.headlineBlack .h3
{
    padding-top: 0;
}

.body_cs div.headlineBlack .h3
{
    padding-top: 0;
}

div.headlineBlack .h3 span
{
    padding-top: 35px;
}

div.headlineBlack .h3 .helvetica_cs
{
    padding-top: 24px;
}

div.row .headlineBlack
{
    padding-bottom: 73px;
}

.body_cs div.row .headlineBlack
{
    padding-bottom: 76px;
}