/* header_ie.css, fix ie6, 7 bug */

.header .right .topMenu
{
  text-align: right;
  float: right;
}

.header .right .topMenu ul
{
  display: inline;
}

.header .right .tel
{
  margin-top: 76px;
  text-align: right;
  float: none
}

.shortHeader .header .right .tel
{
    margin-top: 0;
}

.header .right .tel a
{
  float: right;
}

/* for age group pickup start */
.topMenu .otherAge .ageTab li
{
  width: 282px;
  float: left;
}

.header .right .topMenu .ageTab
{
  display: none;
}

.header .headerCon .right .topMenu
{
    position: relative;
    z-index: 100;
}
/* for age group pickup end */

/* for city picker start */
.header .right .topMenu .cityPicker
{
    text-align: left;
}

.cityPicker .popupContent #cpCityList .cpRow div a
{
    margin-right: 11px;
}

.cityPicker .popupContent #mainCity
{
    margin-top: 15px;
}

/* for city picker end */

.header .right .tel
{
    top: 0;
}

/* for leads form */
.formContainer .topBtnWrap
{
    position: relative;
    z-index: 15;
}

.formContainer .schoolListWrapper
{
    z-index: 10;
}

div .formContainer .schoolListWrapperUp
{
    z-index: 20;
}

/* for phone number popup */
.popupsPhoneNum .mainCityArea .phonePopLeft,
.popupsPhoneNum .mainCityArea .phonePopRight
{
   padding-left: 10px;
   margin-left: -10px;
}

.popupsPhoneNum .mainCityArea .phonePopRight
{
   padding-left: 70px;
}

.popupsPhoneNum .popupContentSchools_ru .mainCityArea .phonePopLeft,
.popupsPhoneNum .popupContentSchools_ru .mainCityArea .phonePopRight
{
   padding-left: 0;
   margin-left: 0;
}

.popupsPhoneNum .popupContentSchools_ru .mainCityArea .phonePopRight
{
   padding-left: 60px;
}

.popupsPhoneNum .popupContentSchools .phonePopColumns .phonePopRow,
.popupsPhoneNum .popupContentSchools_ru  .phonePopColumns .phonePopRow
{
    position: relative;
}

.popupsPhoneNum .popupContentSchools .phonePopColumns .phonePopNum,
.popupsPhoneNum .popupContentSchools_ru  .phonePopColumns .phonePopNum
{
    clear: both;
    position: absolute;
    top: 0;
    right: 0;
}

/* leads form ie7 bug fix */

div .formContainer .inputArea .inputTag
{
    *height: 26px!important;
    *line-height: 26px!important;
    *width: 230px!important;
    *background-color: #fff!important;
    *top: 3px!important;
}

.body_cs .formContainer .inputArea .inputTag
{
    *top: 2px!important;
}

.longForm .formContainer .inputArea .inputTag
{
    *width: 250px!important;
}

/* contact us question field hint text ie6 bug */
.contactUs .contactForm .formContainer .question .inputTag
{
    *width: 273px!important;
    *height: 80px!important;
    *line-height: 14px!important;
    *top: 9px!important;
}

/* leads form ie7 bug fix */

/* short header */
.shortRotator .intro .findOutMore p
{
    text-align: center;
    width: 110px;
}

.shortLeadsForm .tickBoxShow .formContainer .formBottom
{
    height: 35px;
}
.shortLeadsForm .tickBoxShow .formContainer .formBtnText
{
    overflow: hidden;
}