dd.txt .scrollbar {
    background-color: #f4f4f4;
    border-radius: 4px;
    float: right;
    height: 270px;
    margin: 0;
    position: relative;
    width: 7px;
}
dd.txt .viewport { 
	width: 545px;
	height: 270px; 
	margin-right: 30px;
	overflow: hidden; 
	position: relative; 
}
dd.txt .overview { 
	list-style: none; 
	position: absolute; 
	left: 0; 
	top: 0; 
}
dd.txt .thumb .end,
dd.txt .thumb {
    background-color: #737373; 
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 1px 0 1px 0;
     }
dd.txt .track  
{
    background-color: #f4f4f4; 
    height: 233px;
    width: 7px; 
    position: relative; 
    padding: 0 1px; 
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    }
dd.txt .thumb { height: 20px; width: 7px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
dd.txt .thumb .end { overflow: hidden; height: 5px; width: 7px; }
dd.txt .disable{ display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }