/* override css for whyef page ie6 */

div.englishSchool,
div.stuTeaVideo,
div.awards
{
    padding-top: 81px;
}

#content div.englishSchool .subHead
{
    padding-bottom: 38px;
}


.reasons .subHead .helvetica_cs
{
    margin-top: 10px;
}

div.englishSchool .subHead .helvetica_cs,
div.stuTeaVideo .subHead .helvetica_cs,
div.awards .subHead .helvetica_cs
{
    margin-top: 0px;
}

.trustUs .top .left .list .locations .georgiaText
{
    _width: 83px;
}

